@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.floors__section {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.floor__wrapper {
  display: grid;
  grid-template-columns: 100px;
}
.floor__wrapper > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  background-color: hsla(160, 100%, 37%, 0.2);
  border-radius: 5px;
  padding: 7px;
  margin: 1px;
}

.elevator__wrapper {
  display: grid;
  grid-template-columns: 100px;
}
.elevator__wrapper > * {
  border-radius: 5px;
  padding: 7px;
  margin: 1px;
  width: 100px;
  height: 150px;
}
.active {
  background-color: #d1e231;
  z-index: -100;
  transition: all 2s ease-in-out;
  animation: pulse-black 2s;
}
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.elevator {
  position: absolute;
  background-color: black;
  bottom: 0px;
  width: 100px;
  height: 150px;
  transition: all 2s ease-in-out;
}
.elevator__lvl {
  color: red;
  text-align: center;
  border: red;
}
button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
